<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
content="width=device-width,
initial-scale=1.0">
    <title>My First CSS Page,/title>
    <link rel="stylesheet"
href="style.css">
</head>
<body>
    <h1>Welcome to my website</h1>
    <p>This is a simple webpage styled with CSS.</p>   
    <button>Click Me</button.
    </body>
    <* Apply style to the whole page */
    body {
        background-color:lightblue;
        font-family: Arial, sans-serif;
        text-align: center;
    }

    /* Style the heading */
    h1 {
        color: darkblue
        font-size: 36px;
    }

    /* Style the heading */
    h1 {
        color: darkblue
        font-size: 36px;;
    }

/* Style the paragraph */
P {
    color: darkslategray;
    font-size: 18px;   
}

/* Style the button */
button {
    background-color: navy;
    color : white;
    border :none;
    padding: 10x 20px;
    font-size: 16px;
    cursor: pointer;

}

button: :hover {
    background-color: darkred;
}